<p>Product exists: {{ !!product }}</p>

@if (editForm) {
  <form class="edit-form" [formGroup]="editForm">

    <h1 class="edit-title">Edit Product</h1>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" formControlName="price">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" id="category" formControlName="category">
    </div>

    <div class="form-group">
      <label for="rating">Rating:</label>
      <input type="number" id="rating" formControlName="rating">
    </div>

    <div class="form-group">
      <label for="thumbnail">Thumbnail:</label>
      <input type="text" id="thumbnail" formControlName="thumbnail">
    </div>

    @if (editForm.get("title")?.invalid && editForm.get("title")?.touched) {
      <p class="edit-error">Title is required</p>
    }

    @if (editForm.get("price")?.errors?.["min"] && editForm.get("price")?.touched) {
      <p class="edit-error">Price cannot be less than 0</p>
    }

    @if (editForm.get("price")?.errors?.['required'] && editForm.get("price")?.touched) {
      <p class="edit-error">Price is required</p>
    }

    @if (saveErrorMessage) {
      <p class="edit-error">{{ saveErrorMessage }}</p>
    }

    <div class="edit-form-buttons">
      <button
        class="edit-save-button"
        type="button"
        [disabled]="isSaving"
        (click)="save()"
      >Save</button>
      <button
        class="edit-return-button"
        routerLink="/"
      >
        Return
      </button>
    </div>

    @if (isSaved) {
      <p class="edit-success">Товар успішно оновлено!</p>
    }

  </form>
}

