<input type="text" class="form-control" placeholder="Search products..." [formControl]="searchInputControl">

<button routerLink="/add-page">to Add Page</button>

@if (searchInputControl.hasError('minlength')) {

  <div class="text-danger">Введи більше 3-х символів</div>
}

<!-- тут кнопки категорій -->
<div class="mb-4">

  @for (filterCategory of filterCategories; track $index) {
    <button [class]="selectedCategory === filterCategory ? 'btn-primary' : 'btn btn-secondary'" class="btn"
            (click)="showCategory(filterCategory)">{{ filterCategory }}
    </button>
  }
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let product of filteredProducts">
      <app-product [showAddToCard]="true" [product]="product" (addToCart)="cartService.addToCart($event)" (remove)="removeFromProduct($event)"></app-product>
    </div>
    @if (filteredProducts.length === 0 && !isError && !isLoading) {
      <div>Товарів не знайдено</div>
    }
  </div>
  @if (isError) {
    <div>Не вдалося завантажити товари</div>
    <button (click)="retry()">Спробувати ще раз</button>
  }
</div>



