<div class="product-card" style="width: 18rem;">
  <img [src]="product.thumbnail" class="product-image" [alt]="product.title">
  <div class="product-card-body">
    <h5 class="product-title">{{ product.title }}</h5>

    <p class="product-description">
      {{ product.description }}
    </p>

    <p class="product-price">
      Price: {{ product.price }}
    </p>

    <p class="product-rating">
      ⭐ {{ product.rating }}
    </p>
    <div class="products-actions">
      <button class="product-button product-button--primary" [routerLink]="['/products', product.id]">
        Details
      </button>

      @if (isLoggedIn) {
        <button class="product-button product-button--secondary" [routerLink]="['/edit', product.id] ">Edit</button>

        @if (showAddToCard) {
          <button class="product-button product-button--primary" (click)="addToCart.emit(product)">
            Add to Cart
          </button>
        }

        <button class="product-button product-button--secondary" (click)="addToFavorites()">
          Add to Favorites
        </button>

        <button class="product-button product-button--danger" (click)="remove.emit(product)">Remove</button>

        <button class="product-button product-button--secondary" (click)="removeFromFavorites(product.id)">Remove from
          favorites
        </button>
      }
    </div>
  </div>
</div>

