<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div>
  <label for="">Name</label>
  <input formControlName="name">
    @if (this.registerForm.get("name")?.touched &&
    this.registerForm.get("name")?.hasError("required")) {
        <p>Name is required</p>
    }
  </div>
  <div>
  <label for="">E-mail</label>
  <input formControlName="email">
    @if
    (this.registerForm.get("email")?.hasError("required") && this.registerForm.get("email")?.touched) {
      <p>Email is required</p>
    }
    @if (this.registerForm.get("email")?.hasError("email") && this.registerForm.get("email")?.touched) {
      <p>Email is invalid</p>
    }
  </div>

  <div>
  <label for="">Password</label>
  <input formControlName="password">
    @if (this.registerForm.get("password")?.hasError("required") && this.registerForm.get("password")?.touched) {
      <p>Password is required</p>
    }
    @if (this.registerForm.get("password")?.hasError("minlength") && this.registerForm.get("password")?.touched) {
      <p>Password is too small</p>
    }
  </div>
  <div>
  <label for="">Confirm Password</label>
  <input formControlName="confirmPassword">
    @if (this.registerForm.get("confirmPassword")?.hasError("required") && this.registerForm.get("confirmPassword")?.touched) {
      <p>Confirm password is required<</p>
    }
    @if (this.registerForm.get("confirmPassword")?.hasError("minlength") && this.registerForm.get("confirmPassword")?.touched) {
      <p>Confirm password is too short</p>
    }
    @if (this.registerForm.hasError("passwordMismatch") && this.registerForm.get("confirmPassword")?.touched) {
      <p>Passwords do not match</p>
    }
  </div>

  <button>Register</button>
</form>
